* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    transition: .2s ease-in-out;
}

:root{
    --colorMain: #00becd;
    --color1: #038a8f;
    --color2: #c1fdff;
    --color3: #fff;
    --bg-color: #fff;
    --coloricon: #00becd;
    --colorhover: #fff;
    --colorRes: #f5f5f5;
}


.darkMode{
    --bg-color: #0f172a;
    --colorMain: #fff;
    --color1: #fff;
    --color2: #1e293b;
    --color3: #1e293b;
    --bg-color: #0f172a;
    --coloricon: #fff;
    --colorhover: #344155;
    --colorRes: #141d2c;
}


body{
    background-color: var(--bg-color);
}

html{
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 0em;
}

body{
    background-color: var(--bg-color);
}

header{
    background-color: var(--bg-color);
}

navbar {
    width: 100%;
    height: 15.22vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexLogo {
    width: 50%;
    height: 15.22vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flexLogo a{
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flexLogo a img {
    max-width: 100%;
    margin: 0 0 0 5em;
}

.nav-main {
    width: 50%;
    height: 15.22vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-main ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav-main ul li {
    display: inline;
}

.nav-main ul li a{
    transition: .2s ease-in-out;
    color: var(--colorMain);
    border-radius: 1em;
    font-weight: 500;
    padding: .5em .7em;
    text-decoration: none;
}


.nav-main ul li a:hover {
    color: var(--color3);
    text-decoration: none;
    font-size: 1.1em;
    transition: .2s ease-in-out;
    padding: .5em .7em;
    background-color: var(--colorMain);
}

.nav-main .nav-menu li a i{
    margin: 0 2vh 0 0;
}

#darkMode-icon{
    cursor: pointer;
    font-size: 2em;
    color: var(--coloricon);
    transition: 1s ease-in-out;
    margin: 0 2vh;
}
.nav-toggle{
    background-color: transparent;
    display: none;
    border: none;
    outline: none;
    cursor: pointer;
}
#menu-right-icon{
    font-size: 2em;
    color: var(--coloricon);
    transition: 1s ease-in-out;
}

.flexbox{
    width: 100%;
    height: 35em;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexText{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 0 0 7vh;
}

.flexText h1{
    font-size: clamp(2.5rem, 2.469rem + 0.0669vw, 3.125rem);
    text-align: left;
    color: var(--color1);
}

.flexText p {
    width: 70%;
    font-size: clamp(1.125rem, 1.1157rem + 0.0201vw, 1.3125rem);
    color: var(--colorMain);
}

.flexImg{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4vh;
}

.flexImg img{
    max-width: 100%;
    width: 100%;
    pointer-events: none;
}


.section-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
}

.flexart-1 {
    margin: 2vh 0;
    background-color: var(--color2);
    padding: 2em;
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
    flex: 30%;
    margin-right: 1.5em;

}


.flexart-1 p {
    color: var(--color1);
    font-size: clamp(0.8125rem, 0.2344rem + 1.25vw, 1rem);
}

.flexart-2 {
    width: 50%;
    background-color: #fff;
    padding: 2em;
    color: #038a8f;
    flex: 40%;
    border-radius: 3em;
    box-shadow: 0 0 1em #0000002d;
}

.flexLinks {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.flexLinks a {
    text-align: center;
    padding: .7em;
    background-color: #038a8f;
    border-radius: 3em;
    color: #fff;
    font-size: clamp(0.8125rem, 0.2344rem + 1.25vw, 1rem);
}

.flexart-3 {
    width: 35%;
    padding: 2em;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    background-color: var(--color2);
    color: var(--color1);
    flex: 50%;
    margin-left: 1.5em;
}

.section-2 {
    width: 100%;
    display: flex;
    padding: 4vh 2vh;
    background-color: var(--bg-color);
}

.article-2 {
    background-color: #fff;
    width: 50%;
    padding: 2em;
    margin: 0 5vh;
    box-shadow: 0 0 1em #038a8f36;
    border-radius: 1em;
}

.article-2 h1 {
    text-align: center;
    color: #038a8f;
}

.article-2 p {
    color: #038a8f;
    font-size: clamp(0.8125rem, 0.2344rem + 1.25vw, 1rem);
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2667da;
    flex-direction: column;
}

@media screen and (max-width: 1200px){
    .flexLogo{
        width: 50%;
    }

    .flexLogo img{
        width: 100%;
    }

    .nav-main{
        width: 100%;
        justify-content: flex-end;
        margin: 0 2em 0 0;
    }
    .flexbox{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .flexText{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 4vh 0;
        text-align: center;
    }

    .flexText h1{
        font-size: 2em;
    }
    

    .section-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 2vh;
    }

    .flexart-1,
    .flexart-2,
    .flexart-3 {
        width: 100%;
        margin: 2vh 5vh;
        border-radius: 3em;
    }
    .section-2{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .article-2{
        width: 100%;
        margin: 0vh;
        padding: 5vh;
    }
}

@media screen and (max-width: 980px){

    .flexLogo{
        display: none;
    }

    .nav-main{
        width: 100%;
        justify-content: flex-end;
        margin: 0 2em 0 0;
    }

    .flexbox{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .flexText{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 4vh 0;
        text-align: center;
    }

    .flexText h1{
        font-size: 2em;
    }
    

    .section-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 2vh;
    }

    .flexart-1,
    .flexart-2,
    .flexart-3 {
        width: 100%;
        margin: 2vh 5vh;
        border-radius: 3em;
    }
    .section-2{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .article-2{
        width: 100%;
        margin: 0vh;
        padding: 5vh;
    }
}

@media screen and (max-width: 740px) {

    .flexbox{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .flexText{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 4vh 0;
        text-align: center;
    }

    .flexText h1{
        font-size: 2em;
    }
    

    .section-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 2vh;
    }

    .flexart-1,
    .flexart-2,
    .flexart-3 {
        width: 100%;
        margin: 2vh 5vh;
        border-radius: 3em;
    }
    .section-2{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .article-2{
        width: 100%;
        margin: 0vh;
        padding: 5vh;
    }
}

@media screen and (max-width: 580px){

    .flexLogo{
        display: none;
    }

    .nav-main{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        position: absolute;
        z-index: 200;
    }

    .nav-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        top: 0;
        width: 100%;
        height: calc(100vh);
        background-color: var(--colorRes);
        transition: left 0.3s;
        left: 100%;
        z-index: 50;
    }

    .btns-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0vh 2em 0 0;
        z-index: 100;
    }
    #darkMode-icon{
        margin: 0 .5em 0 0;
    }

    .nav-main .nav-menu li{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 3vh;
    }

    .nav-main .nav-menu li a{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: none;
    }
    .nav-main .nav-menu li a i{
        font-size: 2em;
        margin: 0 .4em 0 0;
    }
    .nav-main .nav-menu li:hover{
        background-color: var(--colorhover);
    }

    .nav-toggle{
        display: flex;
        transition: 1s ease;
    }

    .nav-menu_visible{
        left: 0%;   
    }
    .nav-fixed{
        position: fixed;
        transition: 1s ease;
    }
    
    .flexbox{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .flexText{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 4vh 0;
        text-align: center;
    }

    .flexText h1{
        font-size: 1.8em;
        text-align: center;
    }

    .flexImg{
        width: 100%;
    }

    .flexImg img{
        max-width: 80%;
    }
}