* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    transition: .2s ease-in-out;
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 0em;
}

header {
    background-image: linear-gradient(to bottom, #0e47c7, #1957d1, #2667da, #3476e2, #4385ea, #5592ef, #679ff3, #78acf7, #8ebbf8, #a5c9f9, #bcd7fa, #d3e5fb);
}

navbar {
    width: 100%;
    height: 15.22vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexLogo {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flexLogo img {
    max-width: 30%;
    margin: 0 0 0 5em;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3em 0 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    transition: .2s ease-in-out;
    color: #fff;
    border-radius: 1em;
    font-weight: 500;
    padding: .5em .7em;
    text-decoration: none;
}


nav ul li a:hover {
    color: #2667da;
    text-decoration: none;
    font-size: 1.1em;
    transition: .2s ease-in-out;
    padding: .5em .7em;
    background-color: #fff;
}

.flexbox {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35em;
}

.flexImg {
    width: 60%;
    display: flex;
    justify-content: center;
}

.flexImg img {
    max-width: 100%;
    image-resolution: 400dpi;
}

.flexText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
}

.flexText p {
    width: 80%;
}

.section-1 {
    display: flex;
    align-items: flex;
    justify-content: center;
    margin: 5vh 0vh;
}

.flexart-1 {
    margin: 2vh 0;
    background-color: #2667da;
    padding: 2em;
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
    flex: 30%;
    margin-right: 1.5em;
    line-height: normal;
    filter: drop-shadow(0 0 2em #00000033);
    z-index: 30;

}

.flexart-1 h1 {
    color: #2667da;
    text-align: center;
    font-size: clamp(1.5625rem, 0.2135rem + 2.9167vw, 2rem);
}

.flexart-1 p {
    color: #fff;
    font-size: clamp(0.8125rem, 0.2344rem + 1.25vw, 1rem);
}

.flexart-2 {
    width: 50%;
    background-color: #fff;
    padding: 2em;
    color: #2667da;
    flex: 40%;
    border-radius: 3em;
    box-shadow: 0 0 10em #00000017;
    z-index: -3;
}

.flexLinks {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.flexLinks a {
    text-align: center;
    padding: .7em;
    background-color: #2667da;
    border-radius: 3em;
    color: #fff;
    font-size: clamp(0.8125rem, 0.2344rem + 1.25vw, 1rem);
    text-decoration: none;
}

.flexart-3 {
    width: 35%;
    background-color: #fff;
    padding: 2em;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    z-index: 1;
    background-color: #2667da;
    color: #fff;
    flex: 50%;
    margin-left: 1.5em;
    filter: drop-shadow(0 0 2em #00000033);
    z-index: 50;
}

.section-2 {
    width: 100%;
    display: flex;
    margin: 5vh 0vh;
}

.article-2 {
    background-color: #fff;
    width: 50%;
    padding: 2em;
    margin: 0 5vh;
}

.article-2 h1 {
    text-align: center;
    color: #2667da;
}

.article-2 p {
    color: #2667da;
    font-size: clamp(0.8125rem, 0.2344rem + 1.25vw, 1rem);
}

.adver{
    display: none;
}

.flexSquare {
    width: 60%;
    height: 33em;
    display: flex;
    justify-content: center;
    background-color: #2667da;
    border-radius: 3em;
}

.right,
.left {
    width: 50%;
    text-align: center;
    color: #fff;
}

.right {
    background-color: #106aff;
}

.left {
    background-color: #2667da;
    border-radius: 3em;
}

.left h1, .right h1{
    font-size: clamp(1rem, 0.6146rem + 0.8333vw, 1.125rem);
    margin: 3vh;
    font-weight: 400;
}

.left form, .right form{
    text-align: left;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 3vw;
    pointer-events: none;

}

form > select{
    outline: none;
    border: none;
    height: 3em;
}

form > label{
    display: block;
    margin: .5em 0;
}

input{
    height: 3em;
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: .2em solid #fff;
    color: #fff;
}

.btns-links{
    color: #2667da;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 4vh;
}

.btns-links a{
    color: inherit;
    background-color: #fff;
    border-radius: 1em;
    display: block;
    margin: 1.5vh 0;
    padding: .5em 1em;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2667da;
    flex-direction: column;
}


@media screen and (max-width: 740px) {

    navbar,
    .circle,
    .flexImg,
    .art-img1,
    .art-img1 img,
    .art-img2,
    .art-img2 img {
        display: none;
    }

    .section-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 2vh;
    }

    .flexart-1,
    .flexart-2,
    .flexart-3 {
        width: 100%;
        margin: 2vh 5vh;
        border-radius: 3em;
    }
    .section-2{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .article-2{
        width: 100%;
        margin: 0vh;
        padding: 5vh;
    }

    .flexSquare{
        width: 90%;
        border-radius: 1em;
    }

    .right, .left{
        border-radius: 1em;
        margin: 0;
        text-align: center;
    }

    .adver{
        display: block;
        text-align: center;
        color: #2667da;
        margin: 2vh;
    }

}